# to install run: `$ pip install -r requirements.txt`
# tilde (~) allows for compatible bugfix/patch releases
matplotlib~=3.8.3
mplfinance~=0.12.10b0
numpy~=1.26.4
pandas~=2.2.1
prettytable~=0.7.2
yfinance~=0.2.37
